* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: "Microsoft YaHei";
}
ul, ol {
    margin: 0;
    padding: 0;
}
input {
    border: none;
}

textarea {
    border: none;
}

.bfc::after {
    content: "";
    display: block;
    clear: both;
}

.fl{
    float: left;
}
.fr{
    float: right;
}
body {
    color: #333333;
    font-family: Microsoft YaHei;
}

.container{
    font-size: 16px;
}

a {
    text-decoration: none;
    color: #333333;
    cursor: pointer;
}
a:hover{
    text-decoration: none;
}